.introduction-container{
    display: flex;
    height: calc(100svh - 60px);
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    padding: 0 1rem;
    gap: 4rem;
    background-color: #2c2c33;
}

.introduction-sm-text {
    text-align: left;
    margin-top: 1rem;
}
.bar {
    width: 50%;
    margin: 14px 0px;
    border-radius: 2px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #5D87B4;
}
.introduction-info{
    position: relative;
    left: 18px;
    opacity: 0;
    animation: fade-in 1s ease forwards;
    width: min-content;
}
.introduction-text {
    opacity: 0;
    flex-direction: column;
    animation: fade-in 1s ease forwards;
    max-width: 260px;
}
.image-container {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 450px;
    background-color: #BCEBE2;
    aspect-ratio: 1;
    opacity: 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    animation: image-animation-bg 1s ease forwards;
}
.intro-img {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    animation: image-animation 1s ease forwards 200ms;
}
.margin-set {
    margin-top: -10px;
}
.name-text{
    white-space: nowrap;
    font-weight: 700;
    font-size: 68px;
}
.lg-text{
    font-weight: 700;
    font-size: 32px;
}
.introduction-header-highlight{
    font-size: 20px;
    font-weight: 700;
    color: #5D87B4;
    margin-bottom: 1rem;
}
.dot {
    position: relative;
    left: -14px;
    color: #5D87B4;
}
.contact-btn{
    cursor: pointer;
    padding: 5px;
    margin: 14px 0px;
    background-color: #2c2c33;
    border: 2px solid #5D87B4;
    border-radius: 2px;
    color: #5D87B4;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.500);
    text-shadow: none;
}
.contact-btn:hover{
    color: #2c2c33;
    background-color: #5D87B4;
}

@keyframes image-animation{
    to{
        top: 20%;
        opacity: 1;
    }
}
@keyframes image-animation-bg{
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .introduction-container {
        height: 80svh;
        padding: 0rem 1rem;
        gap: 0rem;
    }
    .introduction-info{
        left: 0;
    }
    .name-text{
        font-size: 42px;
    }
    .intro-img {
        scale: .6;
        transform: translate(-80%, -30%);
    }
    .introduction-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 1rem;
        background-color: #333238;
        text-align: center;
    }
    .introduction-sm-text {
        max-width: 350px;
        text-align: center;
        margin-top: 1rem;
        font-size: 14px;  
    }
}
@media only screen and (max-width: 590px) and (min-width: 458px){
    .intro-img{
        scale: .8;
        transform: translate(-65%, 0%);
    }
}
/* @media only screen and (max-width: 1200px) and (min-width: 600px) {
    .introduction-container {
        gap: 2rem;
    }
    .introduction-container-child{
        width: 30%;
    }
} */