
nav {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 99;
}

.header-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    animation: fade-in 1s ease forwards;
}
.nav-inner-container{
    display: flex;
}

.nav-links{
    cursor: pointer;
    color: white;
    font-size: 22.62px;
    margin-right: 4rem;
}
.logo{
    cursor: pointer;
    font-size: 45.23px;
    font-weight: 700;
}
.logo-dot{
    color: #5D87B4;
}

@media only screen and (max-width: 600px) {
    .nav-links{
        font-size: 18px;
        margin-right: 16px;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 600px) {
    nav > ul {
        max-width: 100%;
    }
}