/* #2c2c33, #ae5029, #282831, #5D87B4 */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}
body{
  color: white;
}
.only-mobile{
  display: none;
}
.hide-from-mobile{
  display: flex;
}

@media only screen and (max-width: 600px) {
  .only-mobile{
    display: block;
  }
  .hide-from-mobile{
    display: none;
  }
}
@media only screen and (min-width: 1400px) {
  
}
