.portfolio-container{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 5rem;
}
.bg-color{
    background-color: #2c2c33;
}
.projects-container{
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.project-cards{
    height: 300px;
    position: relative;
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.500);
    transition: all 200ms ease;
}
.project-cards:hover{
    background-position: 0px -5px;
}
.project-cards:nth-child(1){
    background-size: cover;
    background-image: url("./social.jpg");
}
.project-cards:nth-child(2){
    background-size: cover;
    background-image: url("./pcshop.jpg");
}
.project-cards:nth-child(3){
    background-size: cover;
    background-image: url("./event.jpg");
}
.project-cards:hover .floating-project-info{
    backdrop-filter: blur(2px);
    bottom: 0;
}
.floating-project-info {
    position: absolute;
    width: 100%;
    bottom: -65px;
    padding: 1rem 10px;
    background: linear-gradient(0deg, black 30%, rgba(0, 0, 0, .2));
    transition: bottom 200ms ease;
}
.project-title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.arrow {
    transform: rotate(-90deg);
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
    transition: transform 400ms ease;
}
.project-cards:hover .arrow{
    transform: rotate(450deg);
}
.project-title{
    font-size: 28px;
}
.project-info{
    margin-top: 10px;
}
.project-links-container{
    display: flex;
    gap: 1rem;
    margin-top: 5px;
}
.project-links-container > a {
    color: gray;
 }
 .backend-project-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
 }
 .backend-project-cards{
    overflow: hidden;
    position: relative;
    height: 300px;
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.500);
    transition: all 200ms ease;
 }
 .backend-project-cards:hover {
    background-position: 0px -5px;
}
.backend-project-cards:nth-child(1){
    background-size: cover;
    background-position: 0px -210px;
    background-image: url("./voyage.jpg");
}
.backend-project-cards:nth-child(1):hover{
    background-position: 0px -215px;
}
 .backend-project-cards:nth-child(2){
    background-size: cover;
    background-image: url("./fitness.jpg");
 }
 .backend-project-cards:hover .floating-project-info{
    backdrop-filter: blur(2px);
    bottom: 0;
}
.backend-project-cards:hover .arrow{
    transform: rotate(450deg);
}
.contacts-container{
    cursor: pointer;
    display: flex;
    gap: 10px;
    margin-top: 1rem;
    animation: image-animation-bg 1s ease forwards;
}
.contact-bg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 10px;
    padding: 10px 1rem;
    border-radius: 2px;
    background-color: #333238;
    transition: all 200ms;
    text-decoration: none;
    color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.500);
}
.contact-bg:hover{
    color: #5D87B4;
    background-color: #ffffff10;
}
.contacts-icons{
    width: 30px;
    height: 30px;
    transition: all 200ms;
}
.contact-bg:hover .contacts-icons{
    color: #5D87B4;
}
.bg-color{
    background-color: #333238;
}
.footer{
    text-align: center;
    padding: 3rem 1rem;
    margin-top: 1rem;
}
.heart{
    position: relative;
    left: 5px;
    bottom: -5px;
    width: 25px;
    height: 25px;
    color: rgb(255, 50, 50);
    animation: floating 2s ease-out infinite;
}
.quote-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto 1rem auto;
    padding: 0 1rem;
}
.quote{
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 700;
    color: gray;
    font-family: 'Amatic SC', sans-serif;
}
.quote > span{
    font-size: 42px;
    font-family: 'Amatic SC', sans-serif;
}
.author{
    align-self: flex-end;
    font-size: 18px;
    font-family: 'Dancing Script',sans-serif;
    color: gray;
}
@keyframes from-left{
    from{
        left: -10%;
    }
    to{
        left: 0;
    }
}

@keyframes floating{
    0% {
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
		transform: translatey(0px);
	}
	50% {
		filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .5));
		transform: translatey(-5px);
	}
	100% {
		filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
		transform: translatey(0px);
	}
}

@media only screen and (max-width: 600px) {
    .portfolio-container{
        padding: 1rem 1rem;
    }
    .projects-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .project-cards {
        overflow: hidden;
    }
    .backend-project-container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
     }
     .contacts-container{
        flex-direction: column;
    }
    .backend-project-cards:nth-child(1){
        background-position: 0px -100px;
    }
    .backend-project-cards:nth-child(1):hover{
        background-position: 0px -105px;
    }
    .footer{
        padding: 2rem 1rem;
    }
    .quote{
        font-size: 30px;
        letter-spacing: 2px;
        font-weight: 700;
        color: gray;
        font-family: 'Amatic SC', sans-serif;
    }
    .quote > span{
        font-size: 32px;
        font-family: 'Amatic SC', sans-serif;
    }
    .creations-container {
        animation: from-left 1s ease forwards;
    }
}